<style>
@media (min-width: 768px) {
  input.form-control {
    width: 500px !important;
  }
}
</style>
<div class="container" style="margin-top:10px;">
  <div class="row">
      <div class="panel panel-default">
          <div class="panel-heading">Question 1</div>
          <form class="navbar-form navbar-left" action="?act=question1" method="post">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Question 1" name="question" value="<?php echo isset($question1) ? $question1 : '3, 5, 9, 15, X'; ?>">
                  <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
              </div>
              <button type="submit" class="btn btn-default">Solve</button>
          </form>
      </div>
      <?php if (isset($anwser1)): ?>
      <div class="col-xs-12">
        <?php if ($anwser1): ?>
        <p><b>Answer: </b><?php echo $anwser1; ?><p>
        <?php else: ?>
        <p><b>My function not support this question.</b><p>
        <?php endif; ?>
      </div>
      <?php endif; ?>
  </div>
  <div class="row">
      <div class="panel panel-default">
          <div class="panel-heading">Question 2</div>
          <form class="navbar-form navbar-left" action="?act=question2" method="post">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Question 2" name="question" value="<?php echo isset($question2) ? $question2 : '(Y + 24)+(10 × 2) = 99'; ?>">
                  <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
              </div>
              <button type="submit" class="btn btn-default">Solve</button>
          </form>
      </div>
      <?php if (isset($anwser2)): ?>
      <div class="col-xs-12">
        <?php if ($anwser2): ?>
        <p><b>Answer: </b><?php echo $anwser2; ?><p>
        <?php else: ?>
        <p><b>My function not support this question.</b><p>
        <?php endif; ?>
      </div>
      <?php endif; ?>
  </div>
  <div class="row">
      <div class="panel panel-default">
          <div class="panel-heading">Question 3</div>
          <form class="navbar-form navbar-left" action="?act=question3" method="post">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Question 3" name="question" value="<?php echo isset($question3) ? $question3 : 'If 1 = 5 , 2 = 25 , 3 = 325 , 4 = 4325 Then 5 = X'; ?>">
                  <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
              </div>
              <button type="submit" class="btn btn-default">Solve</button>
          </form>
      </div>
      <?php if (isset($anwser3)): ?>
      <div class="col-xs-12">
        <?php if ($anwser3): ?>
        <p><b>Answer: </b><?php echo $anwser3; ?><p>
        <?php else: ?>
        <p><b>My function not support this question.</b><p>
        <?php endif; ?>
      </div>
      <?php endif; ?>
  </div>
</div>
